<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-link-heading" data-cy="LinkCreateUpdateHeading">Create or edit a Link</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_zonedStartTime">Zoned Start Time</label>
          <div class="d-flex">
            <input
              id="field_zonedStartTime"
              data-cy="zonedStartTime"
              type="datetime-local"
              class="form-control"
              name="zonedStartTime"
              formControlName="zonedStartTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_zonedDateTime">Zoned Date Time</label>
          <div class="d-flex">
            <input
              id="field_zonedDateTime"
              data-cy="zonedDateTime"
              type="datetime-local"
              class="form-control"
              name="zonedDateTime"
              formControlName="zonedDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
