<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="signatureValidation">
            <h2><span>Signature Validation</span> {{ signatureValidation.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Otp</span></dt>
                <dd>
                    <span>{{ signatureValidation.otp }}</span>
                </dd>
                <dt><span>Createdtime</span></dt>
                <dd>
                    <span>{{ signatureValidation.createdtime }}</span>
                </dd>
                <dt><span>Valid Till</span></dt>
                <dd>
                    <span>{{ signatureValidation.validTill }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ signatureValidation.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/signature-validation', signatureValidation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
