<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="link">
      <h2 data-cy="linkDetailsHeading"><span>Link</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ link.id }}</span>
        </dd>
        <dt><span>Zoned Start Time</span></dt>
        <dd>
          <span>{{ link.zonedStartTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Zoned Date Time</span></dt>
        <dd>
          <span>{{ link.zonedDateTime | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/link', link.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
